$primary: #555555;
$secondary: #fe881c;

// $link-color: #fe881c;
main a {
    color: #d46500;
}
// .breadcrumb a {
//     color: #E81111;
// }
// .pt-0 a {
//     color: #E81111;
// }
// .d-none.d-md-block.d-print-none a {
//     color: #E81111;
// }
// .mt-0.mb-1 a {
//     color: #E81111;
// }
